downloaded-images/*
!downloaded-images/.gitkeep
google-images-pages-json/*
!google-images-pages-json/.gitkeep
image-urls/*
!image-urls/.gitkeep
logs/*
!logs/.gitkeep
scan-the-world-images/*
!scan-the-world-images/.gitkeep
vendor/
.env
composer.phar